.nav-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:black;
    padding:15px;
    color:white;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color:rgb(29, 28, 28);
}

.nav-link{
    margin-right: 20px;
    color:white;
    text-decoration: none;
    font-size: 1.5em;
}

.left-column > .middle-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:20px;
}

.left-column{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar > .left-column > .middle-text > .nav-links{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding-bottom:10px;
}

.nav-bar > .left-column img {
    width: 270px;
}

.Explore{
    color:yellow;
    text-decoration: none;
}

.spark-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #a5a5a5;
    margin-left:20px;
}

.spark-div a {
    color:#a5a5a5;
}

.right-column {
    display: flex;
}

#search-icon{
    font-size: 2.5em;
    margin: 0 10px;
    color:gray;
}

#arrow {
    color:#5bcf72;
    margin-left:5px;

}
/* header ^ */
.main-content{
    box-shadow: inset -50px -50px 50px 50px rgba(30,30,30,0.83);
    background-color: rgb(61, 61, 61);
    color:white;

}

.main-content{
    display:flex;
    justify-content: space-between;
    padding-top:40px;
    padding-left:20px;
    font-size: 2.1rem;
}

.main-content > .left-side > .buttens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    width: 750px;
    padding: 5px;
}

.main-content > .left-side > .buttens > .green-btn{
    background-color: rgb(93, 246, 93);
    color: black;
    width: fit-content;
    border:none;
    border-radius: 3px;
}

.main-content > .left-side > .buttens > .black-btn{
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    border:none;
    border-radius: 3px;
}

.right-side > .image-div img{
    width:700px;
}

.right-side p{
    font-size:1.5rem;
}

.blue-text{
    color:rgb(65, 65, 255);
}

.codepen-for{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    font-size: 1.5em;
    background-color: rgb(61, 61, 61);
    width:100%;
}

.codepen-for > .bottom-link{
    padding-left:10px;
    display: flex;
    justify-content: center;
    border: 2px solid gray;
}